@import "tailwindcss";

/*
body {
  font-family: "Enriqueta", serif;
}

h1, h2, h3 {
  font-family: "Libre Baskerville", serif;
}

code, pre {
  font-family: "Geist Mono", monospace;
}

strong {
  font-family: "Geist", sans-serif;
}
  */
  