---
import "../styles/global.css";
import Header from "../components/Header.astro";

// Fuentes
import "@fontsource/enriqueta";              
import "@fontsource/enriqueta/500.css";      
import "@fontsource/enriqueta/600.css";      
import "@fontsource/enriqueta/700.css";

import "@fontsource/libre-baskerville";      
import "@fontsource/libre-baskerville/700.css"; 

import "@fontsource-variable/geist";         
import "@fontsource-variable/geist-mono";    
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>

  <body class="flex flex-col min-h-screen">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light light;
  }

  html {
    font-family: "Geist Variable", system-ui, sans-serif;
  }

  body {
    margin: 0;
  }

  h1, h2, h3 {
    font-family: "Libre Baskerville", serif;
  }

  p, span, div {
    font-family: "Enriqueta", serif;
  }

  code, pre {
    font-family: "Geist Mono", monospace;
  }
</style>
