---
import "../styles/global.css"
import Header from "../components/Header.astro";

import "@fontsource/enriqueta";              // Regular (400)
import "@fontsource/enriqueta/500.css";      // Medium
import "@fontsource/enriqueta/600.css";      // SemiBold
import "@fontsource/enriqueta/700.css";      // Bold

import "@fontsource/libre-baskerville";      // Regular (400)
import "@fontsource/libre-baskerville/700.css"; 

import "@fontsource-variable/geist";         // Variable (100–900)
import "@fontsource-variable/geist-mono";    // Variable (100–900)

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root{
		color-scheme: light dark;
	}

	html {
		font-family: "Geist Variable", system-ui, sans-serif;
	}

	body {
		display: flex;
		flex-direction: column;
		justify-content center:
	}
</style>
